apiVersion: v1alpha1
kind: Setting
metadata:
  name: links-health-monitor-setting
spec:
  forms:
    - group: basic
      label: 基本设置
      formSchema:
        - $formkit: checkbox
          name: customizedCronEnable
          key: customizedCronEnable
          id: customizedCronEnable
          label: 启用自定义Cron表达式
          value: false
          help: 是否自定义监测友链的Cron表达式，默认每天0点执行监测一次。
        - $formkit: text
          if: $get(customizedCronEnable).value === true
          name: customizedCron
          key: customizedCron
          id: customizedCron
          label: 自定义6位cron表达式
          validation: required
          placeholder: 请输入自定义6位cron表达式，6位cron必须遵循「秒 分 时 日 月 星期」的格式
          help: 用于配置监测友链的定时任务的时间表达式，Cron表达式格式有误时使用默认配置。
        - $formkit: select
          name: notRequiredMonitorLinks
          key: notRequiredMonitorLinks
          id: notRequiredMonitorLinks
          label: 无需监测友链
          placeholder: 请选择不需要监测的友链。
          multiple: true
          searchable: true
          action: /apis/api.plugin.halo.run/v1alpha1/plugins/PluginLinks/links
          requestOption:
            method: GET
            pageField: page
            sizeField: size
            totalField: total
            itemsField: items
            labelField: spec.displayName
            valueField: metadata.name
            fieldSelectorKey: spec.displayName
          help: 请选择不需要监测的友链
        - $formkit: list
          name: friendLinkRoutes
          key: friendLinkRoutes
          id: friendLinkRoutes
          label: 友链页面路由
          addLabel: 添加路由
          min: 0
          max: 10
          itemType: string
          help: 友链网站的友链页面路由，默认路由不足时添加。
          children:
            - $formkit: text
              index: "$index"
              validation: required
              placeholder: 要添加的友链页面路由，如/links
        - $formkit: group
          name: topsText
          label: 提示
          children:
            - $el: div
              attrs:
                class: "formkit-help text-xs mt-2 text-gray-500 flex items-center mb-1 cursor-pointer"
                innerHTML: "
                          1.请注意自定义Cron的间隔周期较短时，短期内频繁执行任务会给系统带来负担。
                          <br>
                          2.定时任务默认时区 Asia/Shanghai。
                          <br>
                          3.友链监测时本站地址取自概览-外部访问地址，请确保已设置过外部访问地址。
                          <br>
                          4.默认友链网站的友链页面路由如下，用于监测友链网站是否添加本站友链。
                          <br>
                          /links
                          <br>
                          /link
                          <br>
                          /friends
                          "